@font-face {
  font-family: 'Muli';
  src: url('assets/muli/Muli-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Philosopher';
  src: url('assets/philosopher/Philosopher-Regular.ttf') format('truetype');
}

html, body{
  position: absolute;
  width: 100%;
  height:100%;
  background-color:#393B3B;
  font-family: Muli;
  color:white;
  font-size: 20px;
  overflow: auto;
}

input{
  color:black;
}

input[type="text"]:focus{
  /*border-color: orange;*/
  border: 3px solid orange; 
}

/*Navbar*/
nav.navbar.navbar-default{
  background: #232324;
  height: 75px;
  border-bottom: 2px solid transparent;
  padding: 0px 50px;
  margin-bottom: 5px;
}
div.container-fluid{
  width:100%;
  height: inherit;
  padding: 0px;
}


/*brand*/
div.navbar-header, .navbar-brand{
  height:inherit;
  margin-left: 0px;
  padding:0px;
}

a.navbar-brand{
  color:orange !important;
}

div.navbar-header span{
  position: absolute;
  top: 31px;
  margin-left: 10px;
}

/*Sign in dropdown menu*/

.dropdown-toggle {
  color: #0593FF;
  font-size: 25px;
  padding: 20px;
  float:right;
}

.dropdown-toggle:hover{
  color: white;
  padding-bottom: 16px;
  border-bottom: 3px solid springgreen;
}

.dropdown-toggle:focus, .dropdown-toggle:hover{
  color: white;
  text-decoration: none;
}


/*Main*/


/*color form*/
.container{
  position: absolute;
  margin:0px;
  padding: 0px;
  background-color: #232324;
  min-height: 95vh;
  box-shadow: 5px 10px 15px black;
  box-sizing:border-box;
  border-right:11px solid #232324;
}

header h1{
  color:#FFFFFF;
  font-size: 60px;
}

header h2{
  margin: 40px 20px;
  padding: 15px;
}

.container h2{
  margin: 40px 0px;
  color: #232324;
  background-color:#E3E3E8;
}

#def_form p,#def_form button {
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  font-family: Philosopher;
}

.color_row{
  height: 120px;
}

.color_row td{
  border: 2px solid white;
}

.form-control{
  width:90%;
  margin:0px 20px 50px 20px;
}

#def_form label{
  padding: 0px;
  text-align: left;
}
#def_form{
  height: 40vh;
  border-top:6px solid teal;
}

#colorpicker_form{
  height: 55vh;
}


#def_span{
  color:#FC2F1F;
}

/*Colorpicker*/
.color, #myValue{ 
  margin: 20px;
}

#color_side, #def_side{
  height: 100%;
}

#color_side{
  border-right: 2px solid lightgrey;
}

#color_side h2{
  border: solid 1px lightgrey;
  text-align: center;
  background-color: #232324;
}

#def_side h2{
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

#submit_btn{
  bottom:-15px;
  width:35%;
}

/*Modal*/
.modal-content{
  color:black;
}

