<!DOCTYPE html>
<html>
  <head>
    <title>Hue: Build Your Color Definitions</title>
    <link rel="icon" 
          type="image/png" 
          href="../../public/assets/nyan_cat_favicon.png">
    <!-- INCLUDED LIBRARIES -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/jquery-color/jquery.color.js"></script>
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- LOCAL RESOURCES: FROM PUBLIC -->
    <script type="text/javascript" src="../../public/application3.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/custom3.css">
  </head>
<body>
  <!-- bootstrap navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- bootstrap dropdown -->
      <div class="navbar-header">
        <a class="navbar-brand" href="">  <h1>PROJECT</h1>
        </a>
      </div>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <span class="caret"></span></a>
               
      </div>
    </div>
  </nav>
  <!-- signup form -->
  <div class="container">
    <header>
      <h2>Your Colors</h2>
    </header>
    <article id="signup_form">
      
    </article>
  </div>
  <!-- bootstrap modal item-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
</body>
</html>