<!DOCTYPE html>
<html>
<head>
  <title>Hue: Build Your Color Definitions</title>
  
  <!-- INCLUDED LIBRARIES -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/jquery-color/jquery.color.js"></script>
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- LOCAL RESOURCES: FROM PUBLIC -->
  <script type="text/javascript" src="../public/application.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/custom.css">
</head>
<body>

</body>
</html>